@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*-- scss:defaults --*/
$h1-font-size: 2rem !default;
$h2-font-size: 1.6rem !default;
$headings-font-weight: 500 !default;
$body-bg: #fcfcfc !default;
$body-color: #404040 !default;
$pre-color: #404040 !default;
$navbar-bg: #0085a1 !default;
// $code-block-bg: '#FAFAFA80';
$code-block-padding-left: .6em;
$toc-active-border: #0085a1 !default;
// $toc-color: #0085a1 !default;

/*-- scss:rules --*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);*/
  font-family: 'Roboto Condensed', Helvetica, serif;
  font-weight: 300;
  text-transform: capitalize;
  /*color: #0085a1; */
}


// SIDEBAR/TOC
.sidebar-title {
  font-family: 'Roboto Condensed', Helvetica, serif;
  font-weight: 400;
  color: #A11C00;
}

div.sidebar-item-container .active, 
div.sidebar-item-container .show>.nav-link, 
div.sidebar-item-container .sidebar-link>code {
  color: #A11C00;
  font-weight: 700;
  border-right: 3px solid #A11C0040;
}

/* this will everywhere and affect main chapter hover in TOC also*/
a:hover {
  // color: #3958c4
}

/* chapter hover in TOC */
.sidebar-navigation a:hover {
  color: #0085a1;
}

/* this will affect main chapter hover in TOC also*/
.sidebar nav[role=doc-toc] ul>li>a:hover, 
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  // color: #2196f3 !important;
  color: #A11C00 !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active, 
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 3px solid #0085a1;
  color: #0085a1 !important;
  font-weight: 600;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}


pre {
  word-break: normal;
  word-wrap: normal;
}

pre.sourceCode {
  padding: 0rem;  // this is like the 'plot' gg thing; the background behind the background
}

pre code {
  white-space: inherit;
  background-color: #ffffff;
  border: .1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;  // padding of code within codeblock
  display: block;
  // line-height: 1.5;
  // margin-bottom: 1.5rem;
  overflow: auto;
  word-wrap: normal;
}


p.flushright {
  text-align: right;
}

blockquote>p:last-child {
  text-align: right;
}

blockquote>p:first-child {
  text-align: inherit;
}

b,
strong {
  color: #0085a1 !important;
}

a {
  color: #0085a1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 100%;
  // border-radius: .1px;
}

.img-fluid {
  width: 75%;
  max-width: 100%;
  height: auto;
  // border: .1px solid #ddd;
}

.no-border {
  border: none;
}

.pack {
  font-family: 'Roboto Mono', Monaco, 'Courier New', Courier, monospace;
  font-size: .9rem;
  color: #9753b8;
}

.pack::before {
  content: "{"
}

.pack::after {
  content: "}"
}

/*font-awesome*/

.fab, .fa-brands {
  color: #0085a1;
}

/* 
Auto row striping ffs
https: //github.com/quarto-dev/quarto-cli/issues/6945 
This was suggested but removes other

.no-stripe .gt_table tr.odd {
  --bs-table-striped-bg: transparent;
}*/