/*-- scss:defaults --*/
$h1-font-size:          2rem !default;
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$body-bg:               #fffff8 !default;
$body-color:            #404040 !default;
$pre-color:             #404040 !default; 
$navbar-bg:             #0085a1 !default;


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);*/
  font-family: Roboto Condensed;
  /*color: #0085a1; */
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
