*.html linguist-documentation=true
*.js linguist-vendored
*.sh linguist-vendored
*.css linguist-vendored
*.tex linguist-vendored
latex/** linguist-vendored
*.cls linguist-vendored
*.aspx linguist-vendored

*.qmd linguist-language=Quarto
*.ipynb linguist-language=python