project:
  type: book
  output-dir: docs

callout-appearance: minimal
callout-collapse: true


book:
  title: "[Models Demystified]{.smallcaps}"
  subtitle: "A Practical Guide from t-tests to Deep Learning"
  # multiple author format will not work for pdf
  author: 
    - name: Michael Clark & Seth Berry
    #   email: statsdatasci@gmail.com  # typical multi-author stuff fails in pdf with unhelpful \crcr error
    # - name: Seth Berry
    #   email: sberry5@nd.edu
  chapters:
    - index.qmd
    - introduction.qmd  
    - part: "Linear Models"
      chapters:
        - linear_models.qmd
        - knowing_models.qmd
        - estimation.qmd
        - generalized_linear_models.qmd
        - linear_model_extensions.qmd
    - part: "Machine Learning"
      chapters:
        - machine_learning.qmd
        - ml_common_models.qmd
        - ml_more.qmd
    - part: "Other Considerations"
      chapters:
        - data.qmd
        - causal.qmd
        - danger_zone.qmd
        - conclusion.qmd
  appendices:
    - part: "Additional Topics"
      chapters:
        - dataset_descriptions.qmd
        - matrix_operations.qmd
        - pyr.qmd
        - more_models.qmd
        - references.qmd
      # - appendix_placeholder.qmd
  search: true
  open-graph: true
  repo-url: https://github.com/m-clark/book-of-models
  repo-actions: [edit]
  repo-branch: dev
  # downloads: [] # per crc request
  sharing: [twitter, linkedin, facebook]
  # reader-mode: true
  bread-crumbs: false
  back-to-top-navigation: true
  page-footer: 
    left: "Copyright 2024 CC-BY-NC-SA" 
    right: 
      - icon: github
        href: https://github.com/m-clark/book-of-models
      - icon: twitter 
        href: https://twitter.com/statsdatasci
      - icon: linkedin 
        href: https://www.linkedin.com/in/michael-clark-b475b5170/
  # sidebar:      # using this will create a background color for the left sidebar and make the whole page flush left
  #   style: docked
  #   collapse-level: 2
format:
  html:
    theme: 
    - materia # https://bootswatch.com/
    - mfs.scss
    - css/style.scss
    mainfont: 'Source Sans 3'
    monofont: 'Roboto Mono'
    fontsize: 1rem
    highlight-style: arrow

    # table of contents
    toc: true
    toc-title: Contents
    toc-location: right
    toc-depth: 3
    toc-collapsed: true
    mermaid: 
      theme: neutral

  pdf:
    documentclass: krantz
    # pdf-engine: xelatex
    # pdf-engine: pdflatex
    # latex-auto-mk: false  # tried to use to save time but generally resulted in broken pdfs
    # toc: true
    # toc-title: Contents
    # toc-depth: 3
    fig-pos: 'H'
    dpi: 300
    keep-tex: true
    callout-appearance: default
    # links-as-notes: true
    code-block-border-left: '#BFBFBF'
    code-block-bg: '#FAFAFA' # so as to save ink? otherwise do 80 as for html
    highlight-style: none # pygments, doesn't matter bw pdf
    colorlinks: false # bw pdf
    hyperrefoptions:
      - linktoc=all
    # mainfont: "Source Sans 3"
    monofont: "Roboto Mono"
    monofontoptions: "Scale=0.7" # primarily for statsmodels and other excessive or misaligned py output
    fig-format: svg
    include-before-body: 
      text: |
        \pagenumbering{roman}
    include-in-header:
      text: |
        \pagenumbering{arabic}
        \usepackage{lscape}
        \newcommand{\blandscape}{\begin{landscape}}
        \newcommand{\elandscape}{\end{landscape}}
        \usepackage{etoolbox}
        \usepackage{annotate-equations}
        \usepackage{xcolor}
        \AtBeginEnvironment{table}{\sffamily}
    # \usepackage{typearea}
    # \usepackage{makeidx}
    # \makeatletter
    # \makeindex
    # \makeatother

    # include-after-body:
    #   text: |
    #     \printindex

    # not needed?
    # lof: true  # list of figures
    # lot: true  # list of tables
    # graphics: yes


# bibliography
bibliography: [references.bib, packages.bib]
biblio-style: chicago

# editing etc.
editor: source
# engine: jupyter
# jupyter: book-of-models

execute:
  freeze  : auto # not until some part is mostly ready 
  echo    : true 
  eval    : true
  message : false
  warning : false
  fig.align: 'center'

tbl-cap-location: top

crossref:
  fig-prefix: Figure # can we do better than figure? 
  tbl-prefix: Table


filters: 
  - include-code-files
  
# knitr:
#   opts_chunk: 
#     message       : false 
#     R.options     : list(width = 120)
#     cache         : false
#     cache.rebuild : false
#     cache.lazy    : false
#     fig.align     : 'center'
#     fig.asp       : .7
    
    # dev       : 'svg'
