anyio==4.2.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
art==6.1
arviz==0.19.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
Brotli==1.1.0
cached-property==1.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cloudpickle==3.0.0
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
dalex==1.6.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.16.1
fonttools==4.47.2
fqdn==1.5.1
fsspec==2024.10.0
h5netcdf==1.3.0
h5py==3.11.0
huggingface-hub==0.26.2
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipykernel==6.29.0
ipython==8.21.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter_core==5.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
kiwisolver==1.4.5
lightgbm==4.3.0
llvmlite==0.42.0
MAPIE==0.9.1
marginaleffects==0.0.8
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mistune==3.0.2
mizani==0.9.3
mpmath==1.3.0
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.14.2
nbformat==5.9.2
nest_asyncio==1.6.0
networkx==3.4.2
notebook==7.0.7
notebook_shim==0.2.3
numba==0.59.0
numpy==1.26.3
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.2
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
plotly==5.18.0
plotnine==0.12.4
polars==0.20.7
prettytable==3.9.0
prometheus-client==0.19.0
prompt-toolkit==3.0.42
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pycm==4.0
pycparser==2.21
Pygments==2.17.2
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch_frame==0.2.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
radian==0.6.12
rchitect==0.4.6
referencing==0.33.0
regex==2024.9.11
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
safetensors==0.4.5
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
sentence-transformers==3.2.1
setuptools==69.0.3
shap==0.44.1
six==1.16.0
slicer==0.0.7
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.2
statsmodels==0.14.1
sympy==1.13.1
tenacity==8.2.3
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.20.1
tomli==2.0.1
torch==2.5.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.1
transformers==4.46.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
typing-utils==0.1.0
tzdata==2023.4
ucimlrepo==0.0.6
uri-template==1.3.0
urllib3==2.2.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.42.0
widgetsnbextension==4.0.9
xarray==2024.6.0
xarray-einstats==0.7.0
zipp==3.17.0
